
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>About</h1>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="container">
    <div class="row">
        <p>This is the about page. <br />
            There isn't much to show here for the page is still <span>under construction</span> but stay tuned!
        </p>
    </div>
</div>



